
p{
    font-family:cursive;
    color:white ;
    font-size: 150px;
    font-display: block;
    text-align: center;
    text-decoration: blink;
    margin-top: 10px;
    

}
.menu{
    font-family: ;
    text-align: center;
    margin-top: 10px;

}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;

}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;
}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;

}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;
}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;
}
.menu h3{
    font-family:monospace ;
    font-size: 40px;
    text-decoration: none;
    margin-top: 0px;
}
.head1{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}
.head2{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}.head3{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}.head4{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}.head5{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}.head6{
    font-family: cursive;
    font-size: 15px;
    margin-top: 0px;
}
